/* rad-style.css */
body {
  background-color: #7fffd4;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #ee82ee;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  animation: popIn 1s;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  animation: popIn 1s;
}

label {
  color: #9400d3;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

button {
  background-color: #ffa500;
  color: white;
  font-size: 1.2rem;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #3700ff;
}

#lists-container,
#random-question {
  font-size: 1.3rem;
  color: #8b0000;
  margin-bottom: 1.5rem;
  animation: popIn 1s;
}

select {
  display: block;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #4a4a4a;
  background-color: #f9f9f9;
  color: #4a4a4a;
}

select:focus {
  outline-color: #4a4a4a;
}

li button {
  margin-left: 10px;
  margin-right: 10px; /* Add this line */

}

/* Add this new style for the list items */
#listSelect > div {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Update this style to include #listSelect > div button */
li button,
#listSelect > div button {
    margin-left: 10px;
    margin-right: 10px;
}
